name: localdev-nats-single

services:
  nats-single:
    image: nats
    container_name: nats-single
    ports:
      - "4222:4222"
      - "8222:8222"
    command: "--cluster_name NATS-SINGLE --cluster nats://0.0.0.0:6222 --http_port 8222 "
    networks: [ "nats-single-network" ]
    healthcheck:
      test: [ "CMD", "wget", "-qO", "-", "http://localhost:8222/varz" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    restart: unless-stopped

networks:
  nats-single-network:
    name: nats-single-network
