name: localdev-nats-cluster

services:
  nats-cluster-seed:
    image: nats
    container_name: nats-cluster-seed
    ports:
      - "4222:4222"
      - "8222:8222"
      - "6222:6222"
    command:
      - "--server_name=seed"
      - "--cluster_name=NATS-CLUSTER"
      - "--cluster=nats://0.0.0.0:6222"
      - "--cluster_user=${NATS_CLUSTER_USERNAME}"
      - "--cluster_password=${NATS_CLUSTER_PASSWORD}"
      - "--http_port=8222"
    networks: [ "nats-cluster-network" ]
    healthcheck:
      test: [ "CMD", "wget", "-qO", "-", "http://localhost:8222/varz" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    restart: unless-stopped

  nats-cluster-node2:
    image: nats
    container_name: nats-cluster-node2
    command:
      - "--server_name=node2"
      - "--cluster_name=NATS-CLUSTER"
      - "--cluster=nats://0.0.0.0:6222"
      - "--cluster_user=${NATS_CLUSTER_USERNAME}"
      - "--cluster_password=${NATS_CLUSTER_PASSWORD}"
      - "--routes=nats://${NATS_CLUSTER_USERNAME}:${NATS_CLUSTER_PASSWORD}@nats-cluster-seed:6222"
      - "--http_port=8222"
    depends_on:
      nats-cluster-seed:
        condition: service_healthy
    networks: [ "nats-cluster-network" ]
    healthcheck:
      test: [ "CMD", "wget", "-qO", "-", "http://localhost:8222/varz" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    restart: unless-stopped

  nats-cluster-node3:
    image: nats
    container_name: nats-cluster-node3
    command:
      - "--server_name=node3"
      - "--cluster_name=NATS-CLUSTER"
      - "--cluster=nats://0.0.0.0:6222"
      - "--cluster_user=${NATS_CLUSTER_USERNAME}"
      - "--cluster_password=${NATS_CLUSTER_PASSWORD}"
      - "--routes=nats://${NATS_CLUSTER_USERNAME}:${NATS_CLUSTER_PASSWORD}@nats-cluster-seed:6222"
      - "--http_port=8222"
    depends_on:
      nats-cluster-seed:
        condition: service_healthy
    networks: [ "nats-cluster-network" ]
    healthcheck:
      test: [ "CMD", "wget", "-qO", "-", "http://localhost:8222/varz" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    restart: unless-stopped

networks:
  nats-cluster-network:
    name: nats-cluster-network
