name: localdev-yugabytedb

services:

  yugabytedb-master:
    image: yugabytedb/yugabyte:latest
    container_name: yugabytedb-master
    volumes:
      - ${YUGABYTEDB_VOLUME_DIR}:/home/yugabyte/yb_data
    ports:
      - "7000:7000"
      - "9000:9000"
      - "9042:9042"
      - "5433:5433"
      - "15433:15433"
    command: [ "bin/yugabyted",
               "start",
               "--base_dir=/home/yugabyte/yb_data",
               "--background=false"
    ]
    healthcheck:
      test: [ "CMD-SHELL", "curl -fs http://localhost:7000/api/v1/health-check || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
    restart: unless-stopped
