name: localdev-yugabytedb

services:

  yugabytedb-master:
    image: yugabytedb/yugabyte:latest
    container_name: yugabytedb-master
    volumes:
      - ${YUGABYTEDB_VOLUME_DIR}:/home/yugabyte/yb_data
    ports:
      - "7000:7000"
      - "9000:9000"
      - "9042:9042"
      - "5433:5433"
      - "15433:15433"
    command: [ "bin/yugabyted",
               "start",
               "--base_dir=/home/yugabyte/yb_data",
               "--background=false"
    ]
